@model Product

<h1>Edit Product</h1>
<form asp-action="Edit" asp-controller="Product">
    <div>
        <input type="hidden" value ="@Model.Id" />
        <label for="">Catalog Id</label>
        <input type="text" name="CatalogId" value="@Model.CatalogId" class="form-control"/>
    </div>
    <div>
        <label>Name</label>
        <input type="text" name="ProductName" value="@Model.ProductName" class="form-control"/>
    </div>
    <div>
        <label>Price</label>
        <input type="text" name="UnitPrice" value="@Model.UnitPrice" class="form-control"/>
    </div>
    <div>
        <label>In Stock</label>
        <input type="text" name="UnitInStock" value="@Model.UnitInStock" class="form-control"/>
    </div>
    <button type="submit" class="btn-primary btn">Update</button>
</form>
